body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.links {
  display: flex;
  align-items: center;
  column-gap: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.links a {
  text-decoration: none;
  color: black;
}

.links a:active {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.atividades {
  width: 100%;
  margin-bottom: 60px;
  background-color: #fffbe3;
  padding-bottom: 60px;
}

.atividades h1 {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
}

.atividades > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloco {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.bloco p {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  width: 40%;
  text-align: justify;
}

.blocoUm img {
  width: 600px;
  height: 550px;
  border-radius: 12px;
}

.blocoDois img {
  width: 600px;
  border-radius: 12px;
}

#sobre {
  background-color: white;
  width: 75%;
  margin-bottom: 100px;
}

#sobre h1 {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

#sobre p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-align: justify;
}

#sobre img {
  width: 900px;
  border-radius: 12px;
  margin-top: 100px;
}

#contatos {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fffbe3;
  height: 800px;
}

#contatos > div {
  width: 75%;
  margin-bottom: 60px;
  position: relative;
}

#contatos h1 {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 800;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 40px;
}

.contatosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 240px;
  row-gap: 10px;
}

.contatosContainer p {
  font-family: "Nunito", sans-serif;
  z-index: 1;
  color: white;
  font-weight: 800;
}

.contatosContainer > img {
  width: 50%;
  top: 25%;
  align-self: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 0;
}

.whatsapp {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 80%;
}

.whatsapp img:first-child {
  width: 200px;
}

.whatsapp img:last-child {
  width: 100px;
}
